<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://x.com/Itzz_rohit88" class="icon"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/____rohit__28?igsh=MWp0eXk2NWp5aHpveg==" class="icon"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/rohit-kumar-86a437282/" class="icon"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;&nbsp;
            <a href="/terms">Terms</a>
        </div> 
    </div>
</footer>