<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <div class="alert alert-warning alert-dismissible fade show col-6 offset-3" role="alert">
        <strong>Error:</strong> <%=message%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
</div>

