<% layout("/layouts/boilerplate")%>

<header class="col-6 offset-3">
    <h3>Privacy Policy</h3>
    <hr>
</header>
<main>

    <section class="mt-3 col-6 offset-3">
        <p>Welcome to <b>Wanderlust!</b></p>
        <p>Discover unforgettable destinations and unique accommodations with Wanderlust.</p>
      <section>
        <h4>Explore Our Destinations</h4>
        <p>From bustling city centers to serene countryside retreats,Wanderlust features a diverse range of destinations to suit every traveler's preferences.</p>
         </section>
      
   <section>
        <h4>Why Choose Us?</h4>
        <p>At Wanderlust, we value your privacy.We collect personal information to facilitate bookings, process payments, and improve our services.</p>
        <p>We take measures to safeguard your data and offer tools for you to manage your information. By using Wanderlust, you consent to our practices outlined in this policy.</p>
        </section>

    <section>
        <h4>Contact Us</h4>
        <p>If you have any questions about this Privacy Policy, please contact us.</p>
        <p class="col-6 offset-3"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;7209087597</p>
        <p class="col-6 offset-3"><i class="fa-regular fa-envelope"></i>&nbsp;&nbsp;&nbsp;rohit9060755@gmail.com</p>
    </section>
</main>